/*===== VARIABLES CSS =====*/
:root {
    /*===== Font weight =====*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*===== Colors =====*/
    --first-color: #009EF7;
    --second-color: #C6E5FF;
    --text-color: #0f1111;

    /*===== Font and typography =====*/
    --body-font: "Poppins", sans-serif;

    /*===== z index =====*/
    --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--first-color-lighten);
    color: var(--text-color);
    line-height: 1.6;
}

a {
    text-decoration: none;
}

/*start navbar */

.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 70px;
    background: #ffffff;
    z-index: 100;
    border-radius: 5px;
    transition: all 200ms ease;
}

.scroll-header {
    top: 0;
    width: 100% !important;
}

.header_content {
    width: 1280px;
    height: 100%;
}

.header_content::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    box-shadow: 0px 20px 49px rgb(0 0 0 / 10%);
    z-index: -1;
}

.logo_container {
    display: inline-block;
}

.logo img {
    width: 220px;
    vertical-align: middle;
    border-style: none;
    margin-bottom: 10px;
}

.main_nav_container {
    display: inline-block;
    margin-left: auto;
}

.main_nav {
    margin-top: 7px;
}

ul.main_nav_list {
    list-style: none;
    margin-bottom: 10px;
}

.main_nav_item {
    display: inline-block;
    margin-right: 40px;
}

.main_nav_item a {
    font-size: 14px;
    text-decoration: none;
    text-shadow: rgb(0 0 0 / 1%) 0 0 1px;
    font-weight: 700;
    color: #000000;
    transition: all 200ms ease;
}

.main_nav_item a:hover {
    color: var(--first-color);
}

.sign_in {
    padding: 5px 15px;
    background-color: var(--first-color);
    border-radius: 30px;
    border: 1px solid white;
}

.sign_in a {
    text-decoration: none;
    color: white;
    font-weight: var(--font-bold);
}

.sign_in a:hover {
    color: white;
}
/* end navbar */
/* Start Hero */


.hero__inner {
    margin-top: 50px;
}

/* Description about */
.section {
    padding: 30px;
}


/* start footer */
.footer {
    background-color: var(--first-color);
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: white;
}
